$default: lighten(#000, 20%);

@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body{
    margin: 0;
    font-family: 'Syne', sans-serif;
    color: $default;
}

a{
    text-decoration: none;
    color: $default;
}

.table{
    display: flex;
    width: calc(100% - 20px);
    margin: auto;
    flex-direction: column;
    flex-grow: 1;
    color: $default;
    margin: 10px;
}

.head{
    font-size: 1rem;
    font-weight: 700;
    margin: 20px auto;
}

.row{
    animation: enter 0.5s;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 2px 1px lighten($default, 55%);
    margin: 4px;
    min-height: 40px;
    align-items: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(16,1fr);

    &:hover{
        box-shadow: inset 0 0 2px 1px lighten($default, 55%);
    }

    .topic>a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        &:hover{
            background: hsl(219, 50%, 90%);
        }
    }

    img{
        width: 25px;
        border-radius: 50%;
        margin: 2px;
    }

    & > div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
        text-align: center;
    }

    & > div:nth-child(1){
        grid-column: 1/2;
    }
    & > div:nth-child(2){
        grid-column: 2/9;
    }
    & > div:nth-child(3){
        grid-column: 9/13;
    }
    & > div:nth-child(4){
        grid-column: 13/16;
    }
    & > div:nth-child(5){
        grid-column: 16/17;
    }
}

.row.body div{
    border-right: 1px solid cornflowerblue;
}
.row.body div:nth-child(5){
    border-right: none;
}

@keyframes enter{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


